:root {
    --background-color: #222;
    --text-color: #fff;
    --accent-color-1: #00ffff;
    --accent-color-2: #00ff00;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Link styles */

a {
    color: var(--accent-color-1);
}

a:hover {
    color: var(--accent-color-2)
}

/* Table styles */

th,
td {
    border: 1px solid var(--text-color);
    padding: 0.5em;
}

th {
    background-color: #CCC;
    color: #000;
}